
$color2: #081421;

@import url(//fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);
// @import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..600;1,300..900&display=swap');




$max-device-width: 700px;

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin background-gradient($start-color, $end-color, $orientation) { 
    background: $start-color;

    @if $orientation == 'vertical' {
      background: -webkit-linear-gradient(top, $start-color, $end-color);
      background: linear-gradient(to bottom, $start-color, $end-color);
    } @else if $orientation == 'horizontal' {
      background: -webkit-linear-gradient(left, $start-color, $end-color);
      background: linear-gradient(to right, $start-color, $end-color);
    } @else {
      background: -webkit-linear-gradient($orientation, $start-color, $end-color);
      background: linear-gradient($orientation, $start-color, $end-color);
    }
}

%pic { background-size: cover; background-repeat: no-repeat; background-position: center center; }


.noselect { user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none;}
a { user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; }
 
:root {
    --radius: 7px;
    --gap: 15px;
    --titleSize: 48px;
    --secTitleSize: 24px;
    --midFontSize: 25px;
    --font: "Rubik",Sans-serif;
    --font2: "Rubik",Sans-serif;
    // --font2: "Open Sans Hebrew Condensed",Sans-serif;
    --color: #00d28b;
    --color2: #033841;
    --red: #c71818;
    --gold: #f0c419;
    --projects-width: 240px;
    --sidebar-menu-width: 90px;
    --header-height: 60px;
    --footer-height: 60px;
    --shadow: 0 2px 40px rgba(0, 0, 0, 0.05);
  }
  
  @media (max-width: 1200px) { 
    :root {
      --projects-width: 180px; 
    }
  } 

  @media (min-width: 601px) { 
    .show_in_mobile { display: none !important; }
    .show_in_desktop { }
  }

  @media (max-width: 600px) { 
    .show_in_mobile { }
    .show_in_desktop { display: none !important; }
  }

  .lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }

  .gap_bottom { margin-bottom: var(--gap);}

  .carousel__track { gap:var(--gap); }

  .u { text-decoration: underline;}
  
#app { /*overflow-y: auto; height: 100vh;*/
    font-family: var(--font); 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
  }

  
#nav-icon3 { 
    width: 25px;
    height: 17px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    /* margin-left: 30px; */
  }
  
  #nav-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #000;
    border-radius: 0px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #nav-icon3 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 8px;
  }
  
  #nav-icon3 span:nth-child(4) {
    top: 16px;
  }
  
  .menu_open #nav-icon3 span { background-color: #fff !important;}
  .menu_open #nav-icon3 span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  .menu_open #nav-icon3 span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .menu_open #nav-icon3 span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .menu_open #nav-icon3 span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  
.bm-burger-button {
    z-index: 99998;
    position: fixed;
    height: 18px; width: 28px;
  }
  .bm-menu {
    z-index: 99999; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgb(63, 63, 65); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /*0.5 second transition effect to slide in the sidenav*/
  }
  
  .bm-cross-button { right: 20px; }
  .bm-burger-bars { background: #fff; height: 2px; }

  .box {
    &.paddme { padding: var(--gap);}
    background-color: #fff;
    position: relative;
    border-width: 0;
    box-shadow: var(--radius);
    border: 1px solid transparent;
    border-radius: var(--radius);
    padding: 0 25px;
    
  }
  .h1,.h2,.h3,.h4,.h5,.h6 { margin-bottom: var(--gap);}
.h1 { font-size: 32px; font-weight: bold;}
.h2 { font-size: 24px; font-weight: bold;}
.h3 { font-size: 20px; font-weight: bold;}

  .ttl { margin-bottom: 25px; z-index: 99; 
    &,* { font-weight: bold; font-size: 24px;  font-family: var(--font2);} }


  #scrolling_menu  { background-color: #3E3E3E; height: 40px; overflow-x: scroll; margin-right: -15px;margin-left: -15px;}
  #scrolling_menu ul { height: 40px;width: max-content; }
  #scrolling_menu ul li { display: inline-block; }
  #scrolling_menu ul li a { position: relative; display: inline-block; line-height: 40px; color: #fff; padding: 0px 15px; font-size: 14px;;}
  #scrolling_menu ul li:not(:last-child) a:after {    background-color: #fff; content: ''; display: block; position: absolute; left: 0px; top: 15px; bottom: 15px; width: 1px; }
  
  #menu_hamburger { position: fixed; right: 0px; top: 0px; z-index: 99; width: 55px; height: 60px; display: flex; align-items: center; justify-content: center;}
#side_menu { width: 85vw; position: fixed; transform:translateX(100vw); right: 0px; top:0px; height: 100vh; z-index: 98; @include transition(all 0.2s ease 0s);  
  .user_area { display: flex; padding: 25px; flex-direction: column; align-items: center; gap:10px;
    .name { font-weight: bold;}
    .options { display: flex; gap:20px;}
    .handler_icon { width:40px; height: 40px; font-size: 30px; text-shadow:3px 2px 2px rgba(0,0,0,0.3)}
  }
}
#go_back_btn { position: fixed; left: 15px; top: 0px; line-height: 55px; font-size: 13px;color: #000;}
.menu_open #menu_hamburger { /*right: 70vw;*/ }
.menu_open #content { opacity: 0.3; }
.menu_open { background: #000;; }

#content {  background: #fff;
  @media (min-width: 600px) { min-height: calc(100vh - var(--header-height));  } 
  @media (max-width: 600px) {  } 
}


#side_menu #menu { list-style: none; padding: 0px; display: block; text-align: initial; margin: 0 25px;
  > li { display: block; padding: 10px 0;}
  li a { display: block; line-height: 45px; color: #fff; font-size: 17px; padding: 0px; }
  li a span { vertical-align: middle; font-size: 17px; color: #fff; display: inline-block; width: 30px; }

  li ul { padding-right: 30px;}

  .active { color: var(--color); }
}
  
#loading_animation { position: fixed; left: 0px; top: 50px; bottom: 0px; width:100%; display: flex;  align-items: center; justify-content: center; }

.mbl_no_margins { margin-left: -15px; margin-right: -15px; width: auto; }

html, body { height: 100%; direction:rtl; padding: 0px; margin:0px; background: #f6f7f8; text-align: right; color:#333; font-size: 18px; /*scroll-behavior: smooth;*/ }
a{ color:#333; text-decoration:none; outline:none;}

html, body, input, textarea, select{ font-size:16px; font-family: var(--font); }
* { box-sizing: border-box; padding: 0px; margin: 0px; font-family: var(--font); -webkit-tap-highlight-color: transparent; letter-spacing: -0.01em;}

body {overflow-y:scroll;  }
body.rtl { direction:rtl; text-align: right; }
body.ltr { direction:ltr; text-align: left; }

img{ border:none; vertical-align:middle;}

input[type=text], input[type=number], input[type=url], input[type=password], textarea, select{border:1px solid #acadb2; padding:3px; outline:none; font-size:13px; color:#616161; height: 35px;;}
textarea { resize:none; }
input[type=url] { direction: ltr; text-align: left; 
  &::placeholder {
    text-align: right;
    direction: rtl;
  }
  
}

a { @include transition(all 0.08s ease 0s); }
a:active { transform: scale(1.02);}

textarea, input { border-radius: 8px; }
.ql-toolbar.ql-snow { border-top-left-radius: 6px; border-top-right-radius: 6px;}
.ql-container.ql-snow { border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;}

input[type=text], input[type=password], textarea, select { width:150px;}

input[type=checkbox] { width:auto !important; }

a { cursor:pointer;}

::-webkit-input-placeholder { color: #A1A1A1; }
:-moz-placeholder { color: #A1A1A1; }
::-moz-placeholder { color: #A1A1A1; }
:-ms-input-placeholder { color: #A1A1A1; }

/* Custum classes */
input.error, .ms-parent.error { box-shadow:0px 0px 0px 1px #FF1D21;}

body.rtl .fr { float:right; }
body.ltr .fr { float:left; }
body.rtl .fl { float:left; }
body.ltr .fl { float:right; }

.flex-space { display: flex; justify-content: space-between;}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section { display: block; }

.title { font-size: 20px; line-height: 60px;}
.clr { clear: both;}

ul { margin: 0px; list-style-type: none; }
    
.red { color: var(--red); }
*::-webkit-scrollbar { width: 5px; }
*::-webkit-scrollbar-track { background: #ddd; }
*::-webkit-scrollbar-thumb { background: #666; }

body::-webkit-scrollbar { width: 5px; }
body::-webkit-scrollbar-track { background: #666; }
body::-webkit-scrollbar-thumb { background: #ddd; }

a:hover { /*color:inherit;*/ text-decoration: none; }

h1,h2,h3,h4,h5 { margin: 0px; line-height: 1; font-family: var(--font2); font-weight: 100;}

a { cursor: pointer;}


.frmUL { display: flex; flex-direction: column; gap:var(--gap);
    li { position: relative;
        .caption { display: block; pointer-events: none; position: absolute; top: 1px; bottom: 1px; right: 1px; border-radius: var(--radius); display: flex; align-items: center; padding-right: 15px; background: #eee;  width:80px; border-top-left-radius: 0px; border-bottom-left-radius: 0px; font-weight: bold; font-family: var(--font); font-size: 18px; line-height: 1;}
        .field {
            input,textarea, select { width: 100%; border-radius: var(--radius); padding: 0 15px; padding-right: 90px; border: 1px solid #acadb2;
                &:focus { border-color: #000;   }
            }
            input { height: 40px; }
            textarea { height: 60px; padding-top: 15px; }
            select { height: 40px; padding-right: 0px; width: calc(100% - 90px); }
        }
    }
    
    &.wide, .wide & {
        .caption { width: 25%; }
        .field {
            input,textarea,select { padding-right: calc(25% + var(--gap));  }
            select { /*padding-right: 0px; width: calc(85%);*/ width: 100%; }
        }
    }
}

/* UI elements */
.bannerCls { margin-bottom: var(--gap); }

.btn_white,.btn { border:none; padding: 0 15px; height: 30px; text-align: center; border-radius: 7px; font-family: var(--font); @include transition(all 0.2s ease 0s); cursor: pointer; white-space: nowrap;
    &.big { height: 50px; min-width: 200px; font-size: 24px; font-weight: bold; letter-spacing: .5px; display: flex; justify-content: center; align-items: center; padding: 0px;}
}

.btn, .frmSbmBtn, input[type=submit] { background: var(--color); color: #fff; border:none; display: inline-flex; justify-content: center; gap:6px; align-items: center; height: 35px; padding: 0 10px; cursor: pointer; border-radius: 40px; font-family: var(--font); 
  @media (min-width: 600px) { font-size: 16px;
    &:hover { filter: saturate(1.5) brightness(1.02);  background: var(--color); }
  }
  @media (max-width: 600px) { font-size: 14px; }
  i,svg { }

  &.color2 { background: var(--color2); }
  &.red { background: var(--red); }
}
.btn_white { color: var(--color); background: #fff; 
    &:hover { background: #fff;  box-shadow: 0px 20px 20px rgba(0,0,0, 0.3); transform: translateY(-8px); }
}
.btn.red { background-color: var(--red);}

.btn.bordered { background: #fff; border:1px solid var(--color);
  &, * { color: var(--color);}
  &.color2 { border-color: var(--color2);
    &, * { color: var(--color2); }
  }
  &.red { border-color: var(--red);
    &, * { color: var(--red); }
  }

}

input[type=submit]:active, .sbm:active, .btn:active { opacity:0.8;}

/* Page layout */
.centered { width:1200px; max-width: 100%; margin:0 auto;}
.centered_mid { width:700px; max-width: 100%; margin:0 auto;}

#page{ position:relative; width: 100%; 
  @media (min-width: 600px) { padding-top: calc(var(--header-height) + 25px); padding-right: var(--sidebar-menu-width); }
}
body.rtl #page { direction:rtl; text-align:right;  }
body.ltr #page { direction:ltr; text-align:left; }


.ttl_icon { height: 1em; width: 1em;}

#side_bar_projects_list,#check_all_projects {
  label { display: flex; gap:8px;
    span { font-size: 14px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
  }
}


.finish_ticket_btn { background: #fff; border:1px solid var(--color2); color:var(--color2); 
  &.active { color: #fff; background: var(--color2);}
  @media (min-width: 600px) { 
    &:hover { color: #fff; background: var(--color2);}
  }
  input { margin-left: 8px; }
}


.checkbox {position: relative; cursor: pointer;
  span { padding-right: 12px; min-height: 18px;
    &::before { content: ""; height: 18px; width: 18px; background-color: transparent; border: 1px solid #5a5a5a; position: absolute; top: 0px; z-index: 0; right: 0px; display: block; box-sizing: border-box; border-radius: 4px; @include transition(all 0.1s ease 0s); }

    &::after { opacity: 0; content: '✔'; font-size: 12px; position: absolute; height: 18px; width: 18px; border-radius: 50px; top: 0px; right: 0px; z-index: 1; color: #fff; text-align: center; line-height: 18px; }
    &:hover::after { opacity: 0.2; }
  }

  input { opacity: 0; width: 0px; height: 0px; vertical-align: middle; margin: 0px; padding: 0px; }
  input[type=checkbox]:checked + span::after { opacity: 1; }
  input[type=checkbox]:checked + span::before { background: var(--color2); border:none; }
}

.radio { display: flex; gap:20px;
  label { position: relative; cursor: pointer; }
  span { padding-right: 25px; min-height: 20px; color: #9e9e9e;
    &::before { content: ""; height: 20px; width: 20px; background-color: transparent; border: 2px solid #5a5a5a; position: absolute; top: 0px; z-index: 0; right: 0px; display: block; box-sizing: border-box; border-radius: 100%; @include transition(all 0.1s ease 0s); }

    &:hover::before { background: rgba(0, 191, 0, 0.3); }
  }

  input { opacity: 0; width: 0px; height: 0px; vertical-align: middle; margin: 0px; padding: 0px; }
  input[type=radio]:checked + span::before { background: var(--color); border:none; }
}

.dp__menu  { direction: ltr;}

.page_grid { display: flex; gap:25px;

  
  @media (min-width: 600px) { 
    & > div:nth-child(1) { flex: 6;}
    & > div:nth-child(2) { flex: 3;}
  } 
  @media (max-width: 600px) { flex-direction: column;} 

  .box { margin-bottom: 25px;}
}

.frm { display:grid;grid-template-columns:repeat(1,1fr);gap:20px;
  input[type=text],input[type=number],input[type=date], select, textarea { border:none; border: 1px solid #9e9e9e; width: 100%; height: 40px; font-size: 16px; color: #000;
    &:active, &:focus { border-color: var(--color);}
  }
  
  .frm_list { display: flex; flex-direction: column; gap:30px; }
  .frm_list > li { 
    & > label { display: block; font-size: 16px; text-align: right; margin-bottom: 2px;     color: #9e9e9e;    }
  }

  input[type=submit] { width:fit-content; margin: 0 auto; padding: 0 25px; font-weight: bold; font-size: 20px; height: 40px;  }
  
}

// .ql-editor { text-align: right !important; direction: rtl;}


.loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--color2);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  animation: pulse 1s linear infinite;
}
.loader:after {
  content: '';
  position: absolute;
  width: 48px;
  height: 48px;
  border: 5px solid var(--color2);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
  0% { transform: translate(-50%, -50%) scale(0) }
  60% , 100% { transform: translate(-50%, -50%)  scale(1)}
}
@keyframes pulse {
  0% , 60% , 100%{ transform:  scale(1) }
  80% { transform:  scale(1.2)}
}

.dp__main { display: inline-block;}
.dp__input { padding-right: 30px !important;}
.dp__input_icon { right: 0px !important; left: auto !important;}
.dp__clear_icon { left: 0px !important; right: auto !important;}

.trans_theme {
  --dp-border-color: #fff !important;
  --dp-border-color-hover: #fff !important;
  .dp__input_icon { padding-right: 0px;}
  .dp__input { padding-right: 22px !important;}
}


.panel_grid { display: grid; gap:var(--gap);
    
  @media (min-width: 600px) { grid-template-columns:repeat(3,1fr); }
  @media (max-width: 600px) { grid-template-columns:repeat(1,1fr); }
}


.crm_tbl {
	&{border-collapse:collapse; width: 100%;font-size: 20px;padding-top: 30px;}
	th {font-size: 15px; text-align: center; padding-inline: 4px; padding-bottom: 10px;}
	tbody {
		tr { 
			&{background: #f0f0f0; }
			td {padding: 10px;}

      &:nth-child(odd) {background: #f9f9f9;}
		}
		td {padding: 0 10px;text-align: center; font-size: 16px;
			@media (max-width:600px) {font-size: 12px;}
		}
	}
}

.slide-down-enter-active, .slide-down-leave-active { transition: all 0.3s ease; max-height: 200px; overflow: hidden;  }
.slide-down-enter-from, .slide-down-leave-to { max-height: 0px; overflow: hidden;  }

// #quill-container { direction: rtl; text-align: right;}
// .ql-editor.ql-blank::before { direction: rtl; text-align: right;}
// .ql-editor { direction: rtl; text-align: right;}

.handlers_grid { display: flex; gap:-3px;
  & > .handler_icon { margin-right: -3px;}
}


.form_grid { display: grid; grid-template-columns: repeat(1, 1fr); gap: 20px;
  @media (min-width: 600px) { grid-template-columns: repeat(2, 1fr); }
  @media (min-width: 900px) { grid-template-columns: repeat(3, 1fr); }

  > li { display: flex; flex-direction: column; gap:6px; 
    & > label { font-size: 18px; color: #354E68; padding-inline-start: 10px; }
    input[type=text],input[type=number],input[type=date], select, textarea { border: 1px solid #9e9e9e; width: 100%; height: 44px; font-size: 16px; color: #000; padding-inline-start: 10px;
      &:active, &:focus { border-color: var(--color);}
    }

    > .desc { opacity: 0.7; font-size: 15px;}

    .wzselect-wrapper { width: 100% !important; 
      
      .wzselect-inp { height: 44px; }
    }
  }
}
.submit_line { text-align: left;}


.radio_boxes { max-width: 600px;

  label { display: flex; flex-direction: column; border-radius: 10px; gap:4px; border: 1px solid #ccc; padding: 25px; margin-bottom: 10px; cursor: pointer; color: #000; 

      span { font-size: 20px; font-weight: 700;  }
      .desc { font-size: 16px; opacity: 0.8; }
      &.active { border-color: var(--color); background: var(--color); color: #fff; 
        .desc { opacity: 1; }
      }
      &:not(.active) { opacity: 0.8;}
      input { display: none; }
  }
}
.form_ttl { font-size: 40px; font-weight: 700; color:#000; margin-bottom: 15px; }
